@page "/articulos/crear"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes

<h3>Nuevo Artículos</h3>

<FormularioArticulo OnValidSubmit="Crear" Articulo="Articulos" />


@code {
    private Articulo Articulos = new Articulo();

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/articulos", Articulos);
        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await mostrarMensajes.MostrarMensajeError(body);
        }
        else
        {
            navigationManager.NavigateTo("/articulos");
        }
    }
}