@page "/servicios/crear"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes
@inject HttpClient httclient

<h3>Nuevo Servicio</h3>

<FormularioServicio OnValidSubmit="Crear" Servicio="Servicio" />

@code {
    private Servicio Servicio = new Servicio();

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/servicios", Servicio);
        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await mostrarMensajes.MostrarMensajeError(body);
        }
        else
        {
            navigationManager.NavigateTo("/servicios");
        }
    }
    private async Task OnvalidSubmit()
    {
        var respuesta = await httclient.PostAsJsonAsync("api/servicios", Servicio);
        var cuerpoRespuesta = await respuesta.Content.ReadAsStringAsync();

        if (respuesta.IsSuccessStatusCode)
        {
            navigationManager.NavigateTo("servicios");
        }
        else
        {
            Console.WriteLine(cuerpoRespuesta);
            Console.WriteLine((int)respuesta.StatusCode);
        }
    }
}
