@page "/"



<AuthorizeView>
    @*<Authorized>
        <text>Estas Autorizado, @context.User.Identity.Name</text>
    </Authorized>*@
    
    <NotAuthorized>
        <h1><b>Bienvenido al Taller Enrique Peña!</b> </h1>
        <br />
        <h3><b>Para accerder a todo el contenido, crea una cuenta, si ya tienes una inicia sesion con tus credenciales.</b></h3>
    </NotAuthorized>
   
</AuthorizeView>



<AuthorizeView Roles="admin">
    <Authorized>
        <DashboardPowerBi></DashboardPowerBi>
    </Authorized>
</AuthorizeView>



@*<div id="index">
    <h2><b>Bienvenido/a!</b></h2>
    <AuthorizeView>
        <NotAuthorized>
            <h3>Inicie sesión con sus credenciales</h3>
        </NotAuthorized>
    </AuthorizeView>
</div>*@