@page "/"

<AuthorizeView Roles="admin">
    <Authorized>
        <text>Estas Autorizado, @context.User.Identity.Name</text>
    </Authorized>
    <NotAuthorized>
        <text>No estas Autorizado</text>
    </NotAuthorized>
</AuthorizeView>

@*SweetAlert2 alertas "modernas"*@
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
