@page "/"



<AuthorizeView>
    @*<Authorized>
        <text>Estas Autorizado, @context.User.Identity.Name</text>
    </Authorized>*@
    
    <NotAuthorized>
         
            <h1 class="d-flex justify-content-center"><b>Bienvenido al Taller Enrique Peña!</b> </h1>
            <br />
            <h3 class="d-flex justify-content-center"><b>Inicia sesion con tus credenciales.</b></h3>
        
    </NotAuthorized>
   
</AuthorizeView>



<AuthorizeView Roles="admin">
    <Authorized>
        <DashboardPowerBi></DashboardPowerBi>
    </Authorized>
</AuthorizeView>



@*<div id="index">
    <h2><b>Bienvenido/a!</b></h2>
    <AuthorizeView>
        <NotAuthorized>
            <h3>Inicie sesión con sus credenciales</h3>
        </NotAuthorized>
    </AuthorizeView>
</div>*@