<EditForm Model="Categoria" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Categoria.Nombre" />
            <ValidationMessage For="@(() => Categoria.Nombre)" />
        </div>
    </div>

    <div class="form-group">
        <label>Descripcion:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Categoria.Descripcion" />
            <ValidationMessage For="@(() => Categoria.Descripcion)" />
        </div>
    </div>

    <div class="row">

        <div class="col-6">
            <button class="btn btn-success" type="submit">Guardar Cambios</button>
            <a asp-page="mecanico" class="btn btn-success">volver</a>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public Categoria Categoria { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
