@page "/vehiculos/crear"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes
@inject HttpClient httclient
@attribute [Authorize(Roles = "admin, vendedor")]

<h3>Nuevo Auto</h3>

<FormularioVehiculo OnValidSubmit="Crear" Vehiculo="Vehiculo" />

@code {
    private Vehiculo Vehiculo = new Vehiculo();

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/vehiculos", Vehiculo);
        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await mostrarMensajes.MostrarMensajeError(body);
        }
        else
        {
            navigationManager.NavigateTo("/vehiculos");
        }
    }

    /////////
    private async Task OnvalidSubmit()
    {
        var respuesta = await httclient.PostAsJsonAsync("api/vehiculos", Vehiculo);
        var cuerpoRespuesta = await respuesta.Content.ReadAsStringAsync();

        if (respuesta.IsSuccessStatusCode)
        {
            navigationManager.NavigateTo("vehiculos");
        }
        else
        {
            Console.WriteLine(cuerpoRespuesta);
            Console.WriteLine((int)respuesta.StatusCode);
        }
    }
}