<AuthorizeView>
    <Authorized>
        <span>Bienvenido, @context.User.Identity.Name!</span>
        <a href="Logout" class="nav-link btn btn-link">Cerrar Sesion</a>
    </Authorized>
    <NotAuthorized>
        <a href="Registro">Registrase</a>
        <a href="Login" class="nav-link btn btn-link">Iniciar Sesion</a>
    </NotAuthorized>
</AuthorizeView>