<AuthorizeView>
    <Authorized>
        <span>Bienvenido, @context.User.Identity.Name!</span>
       
        <a href="Logout" class="btn btn-sm btn-outline-danger"><i class="oi oi-account-logout"></i>Cerrar Sesion</a>
        
    </Authorized>
    <NotAuthorized>
        <a href="Registro">Registrase</a>
        <a href="Login" class="nav-link btn btn-link">Iniciar Sesion</a>
    </NotAuthorized>
</AuthorizeView>