@inherits LayoutComponentBase
@inject TallerEnrique.Client.Auth.RenovadorToken renovadorToken
@inject IJSRuntime js
@inject NavigationManager navigationManager
@using Radzen.Blazor

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <EnlacesLogin></EnlacesLogin>
            @*<a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>*@
        </div>

        <div class="content px-4">
            @Body

        </div>
        <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />
    </div>
    
</div>
@code{     

    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await js.InicializarTimerInactivo(DotNetObjectReference.Create(this));
        renovadorToken.Iniciar();
    }

    [JSInvokable]
    public async Task Logout()
    {
        var authState = await AuthenticationState;
        if(authState.User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("logout");
        }
    }
}
